.menu-container{
    display: flex;
    justify-content:space-evenly;
    background-color: black;
    padding: 15px;
    color: white;
}
.menu-items{
    display: flex;
}
.menu-items a{
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}
.menu-items a:hover{
    color: blue;
    cursor: pointer;
}
.banner-img img{
    width: 100%;
}
.banner-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
.banner-description{
    margin-left: 50px;
}
.banner-text{
    color: brown;
    font-size: 20px;
    margin: 5px;
}
.text1{
    font-size: 60px;
    font-weight: bold;
    margin: 5px;
}
.text{
    font-size: 20px;
    margin: 5px;
}
.banner-btm{
    background-color: red;
    padding: 20px 30px;
    margin: 10px;
    color: white;
}


.main-section{
    margin-top: 60px;
}

.title2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}
.card-section{
    display: flex;
    justify-content: space-around;
}
.card1{
    width: 300px;
    height: 250px;
    border: 1px solid grey;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}
.card1:hover{
    border-color: brown;
    margin-top: -15px;
    transition: .8ms;
}
.gym-icon{
    width: 50px;
}



.about-section{
    background-color: black;
    color: white;
}
.about-container{
    display: flex;
}
.about-left{
    width: 700px;
    border: 1px solid red;
}
.about-right{
    width: 700px;
    border: 1px solid red;
}
.workout-image{
    display: flex;
}
.workout-image img{
    width: 250px;
    height: 450px;
    transform:skewY(-10deg)
}
.text-btm{
    text-decoration: none;
    color: white;
}

.workout-container{
    width: 700px;
    height: 200px;
    color: white;
    background-image: url(./images/shape/Group_33094_1.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
}

.service-card{
    width: 300px;
    border: 1px solid grey;
    box-shadow: 8px 8px 16px gray;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}
.service-img img{
    width: 100%;
}
.service-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-container{
    display: flex;
    justify-content: space-around;
}
.batch{
    position: relative;
}
.batch img{
    width: 80px;
    top: -30px;
    left: 260px;
    position: absolute;
}